################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Library
/Logs
/obj/Debug
/Temp
/.vs/TaskArcher/config
